<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h2 class="text-secondary my-4">建立新餐廳</h2>
      <form action="/restaurant" method="POST">

        <p class="mt-2 restaurant-spec-list">
          <span class="text-secondary">餐廳名稱：</span>
          <input type="text" placeholder="name" name="name" required></input>
        </p>

        <p class="restaurant-spec-list">
          <span class="text-secondary">餐廳類別：</span>
          <input type="text" placeholder="Ex.西式料理" name="category" list="category" required>
          <datalist id="category">
            <option value="西式料理">西式料理</option>
            <option value="日本料理">日本料理</option>
            <option value="義式餐廳">義式餐廳</option>
            <option value="中式餐廳">中式餐廳</option>
            <option value="泰式料理">泰式料理</option>
            <option value="中東料理">中東料理</option>
            <option value="美式">美式</option>
            <option value="酒吧">酒吧</option>
            <option value="咖啡">咖啡</option>
            <option value="其他">其他</option>
          </datalist>
        </p>

        <p class="restaurant-spec-list">
          <span class="text-secondary">餐廳地址：</span>
          <input type="text" name="location" placeholder="Address" required>
        </p>

        <p class="restaurant-spec-list restaurant-spec-maps">
          <span class="text-secondary">Google maps：</span>
          <input type="text" name="google_map" class="rounded" placeholder="http://...">
        </p>

        <p class="restaurant-spec-list">
          <span class="text-secondary">餐廳電話：</span>
          <input type="text" name="phone" placeholder="phone">
        </p>

        <p class="restaurant-spec-list">
          <span class="text-secondary">餐廳評價：</span>
          <input type="text" name="rating" placeholder="rating" required>
        </p>

        <p class="restaurant-spec-list restaurant-spec-desc">
          <textarea name="description" placeholder="填寫評論..." id="description" rows="5"></textarea>
        </p>

        <p class="restaurant-spec-list">
          <span class="text-secondary">圖片：</span>
          <input type="text" name="image" placeholder="http://...">
        </p>

        <button type="submit" class="btn btn-light mb-5 mt-4">Create new!</button>
        <a href="/" class="btn btn-light mb-5 mt-4">Back</a>
    </div>
  </div>
</div>
</form>